<%= form_for @game do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :passcode %>
    <%= f.text_field :passcode %>
  </div>
<% end %>