<script type="text/javascript">
  $(document).ready(function() {
    $('#target').hide(); // Initially target will be hidden
    $('#target-hide').hide();
    $('#kill-code').hide(); // Initially kill code will be hidden.
    $('#kill-code-hide').hide();

    $('#target-reveal').click(function() {
      $('#target-reveal').hide();
      $('#target-hide').show();
      $('#target').show(); // Target shows on button click
    });

    $('#target-hide').click(function() {
      $('#target-hide').hide();
      $('#target-reveal').show();
      $('#target').hide(); // target hides on button click
    });

    $('#kill-code-reveal').click(function() {
      $('#kill-code-reveal').hide();
      $('#kill-code-hide').show();
      $('#kill-code').show(); // Kill code shows on button click
    });

    $('#kill-code-hide').click(function() {
      $('#kill-code-hide').hide();
      $('#kill-code-reveal').show();
      $('#kill-code').hide(); // Kill code hides on button click
    });
  });
</script>


<%= 'Game: ' + @game.name %>
<br>
<%= 'Game Status: ' + @game.status %>
<br>
<%= 'Your Role: ' + @player.role %>
<br>
<%= 'Your nickname: ' + @player.nickname %>
<br>

<% team_id = @player.team_id || 0 %>
<% if @player.role == Player::ROLE_GAMEMAKER %>
  Teams:
  <%= form_tag delete_team_path(game_id: @game.id, game_name: @game.name) do %>
    <%= select_tag(:team_id, options_for_select(@team_id_pairs, team_id)) %>
    <%= submit_tag('Delete team', class: 'btn btn-secondary') %>
  <% end %>
  <%= form_tag create_team_path(game_id: @game.id, game_name: @game.name) do %>
    <%= label_tag(:team_name, 'Team name: ') %>
    <%= text_field_tag(:team_name, nil, required: true) %>

    <%= submit_tag('Create', class: 'btn btn-secondary') %>
  <% end %>
<% elsif @player.role == Player::ROLE_PLAYER %>
  Your Team:
  <%= form_tag join_team_path(player_id: @player.id) do %>
    <%= select_tag(:team_id, options_for_select(@team_id_pairs, team_id)) %>
    <%= submit_tag('Join team', class: 'btn btn-secondary') %>
  <% end %>
<% end %>

<br>

<% if @player.role == Player::ROLE_PLAYER %>
  <% if @player.target_id.nil? %>
    Your Target: Not Assigned
  <% else %>
    <button type="button" id="target-reveal" class="btn btn-secondary">Reveal Target</button>
    <button type="button" id="target-hide" class="btn btn-secondary">Hide Target</button>
    <% target_user = Player.find(@player.target_id).user %>
    <div id="target">Your Target: <%= target_user.first_name + ' ' + target_user.last_name %></div>
  <% end %>
<% end %>

<br>

<% if @player.role == Player::ROLE_GAMEMAKER %>
  <% if @game.status == Game::STATUS_INACTIVE %>
    <%= button_to 'Generate Target Assignments', generate_assignments_path, class: 'btn btn-secondary' %>
  <% elsif @game.status == Game::STATUS_PENDING%>
    <%= button_to 'Activate Game!', activate_game_path, class: 'btn btn-secondary' %>
  <% else %>
    <%= link_to 'Manage Assignments', assignments_path, class: 'btn btn-secondary' %>
  <% end %>
<% elsif @player.kill_code %>
  <button type="button" id="kill-code-reveal" class="btn btn-secondary">Reveal Kill Code</button>
  <button type="button" id="kill-code-hide" class="btn btn-secondary">Hide Kill Code</button>
  <div id="kill-code">Kill code: <%= @player.kill_code%></div>
<% end %>

<br>
Gamemakers: <%= @gamemakers.length %>
<ul>
  <% @gamemakers.each do |p| %>
    <li>
      <%= p.user.first_name + ' ' + p.user.last_name + ', aka ' + p.nickname %>
    </li>
  <% end %>
</ul>

Assassins: <%= @assassins_ranked.length %>
<ul>
  <% @assassins_ranked.each do |p| %>
    <li>
      <%= p.user.first_name + ' ' + p.user.last_name + ', aka ' + p.nickname + ', with ' + (p.points || 0).to_s + ' points.' %>
    </li>
  <% end %>
</ul>

Spectators: <%= @spectators.length %>
<ul>
  <% @spectators.each do |p| %>
    <li>
      <%= p.user.first_name + ' ' + p.user.last_name + ', aka ' + p.nickname %>
    </li>
  <% end %>
</ul>

<% if @game.status == Game::STATUS_ACTIVE or @game.status == Game::STATUS_SUSPENDED or @game.status == Game::STATUS_COMPLETED %>
  <% survivors = @assassins_ranked.keep_if {|p| p.alive} %>
  Surviving Assassins: <%= survivors.length %>
  <ul>
    <% survivors.each do |p| %>
      <li>
        <%= p.user.first_name + ' ' + p.user.last_name + ', aka ' + p.nickname  + ', with ' + (p.points || 0).to_s + ' points.' %>
      </li>
    <% end %>
  </ul>

  <% victims = @assassins_ranked.keep_if {|p| (not p.alive)} %>
  Terminated Assassins: <%= victims.length %>
  <ul>
    <% victims.each do |p| %>
      <li>
        <%= p.user.first_name + ' ' + p.user.last_name + ', aka ' + p.nickname  + ', with ' + (p.points || 0).to_s + ' points.' %>
      </li>
    <% end %>
  </ul>
<% end %>