<script type="text/javascript">
  $(document).ready(function() {
    $('#kill-code').hide(); // Initially kill code wil be hidden.
    $('#kill-code-hide').hide();

    $('#kill-code-reveal').click(function() {
      $('#kill-code-reveal').hide();
      $('#kill-code-hide').show();
      $('#kill-code').show(); // Kill code shows on button click
    });

    $('#kill-code-hide').click(function() {
      $('#kill-code-hide').hide();
      $('#kill-code-reveal').show();
      $('#kill-code').hide(); // Kill code hides on button click
    });
  });
</script>


<%= 'Game: ' + @game.name %>
<br>
<%= 'Game Status: ' + @game.status %>
<br>
<%= 'Your Role: ' + @player.role %>
<br>
<%= 'Your nickname: ' + @player.nickname %>
<br>

<% team_id = @player.team_id || 0 %>
<% if @player.role == Player::ROLE_GAMEMAKER %>
  Teams:
  <%= form_tag delete_team_path(game_id: @game.id, game_name: @game.name) do %>
    <%= select_tag(:team_id, options_for_select(@team_id_pairs, team_id)) %>
    <%= submit_tag('Delete team', class: 'btn btn-secondary') %>
  <% end %>
  <%= form_tag create_team_path(game_id: @game.id, game_name: @game.name) do %>
    <%= label_tag(:team_name, 'Team name: ') %>
    <%= text_field_tag(:team_name, nil, required: true) %>

    <%= submit_tag('Create', class: 'btn btn-secondary') %>
  <% end %>
<% elsif @player.role == Player::ROLE_SPECTATOR %>
  Your Team:
  <%= form_tag join_team_path do %>
    <%= select_tag(:team_name, options_for_select(@team_id_pairs, team_id)) %>
    <%= submit_tag('Join team', class: 'btn btn-secondary') %>
  <% end %>
<% end %>

<br>

<% if @player.role == Player::ROLE_GAMEMAKER and @game.status == Game::STATUS_INACTIVE %>
  <%= link_to 'Generate target assignments', generate_assignments_path, class: 'btn btn-secondary' %>
<% elsif @player.kill_code %>
  <button type="button" id="kill-code-reveal" class="btn btn-secondary">Reveal Kill Code</button>
  <button type="button" id="kill-code-hide" class="btn btn-secondary">Hide Kill Code</button>
  <p id="kill-code">Kill code: <%= @player.kill_code%></p>
<% end %>

<br>
Gamemakers:
<ul>
  <% @gamemakers.each do |p| %>
    <li>
      <%= p.user.first_name + ' ' + p.user.last_name + ', aka ' + p.nickname %>
    </li>
  <% end %>
</ul>

Players:
<ul>
  <% @players.each do |p| %>
    <li>
      <%= p.user.first_name + ' ' + p.user.last_name + ', aka ' + p.nickname %>
    </li>
  <% end %>
</ul>

Spectators:
<ul>
  <% @spectators.each do |p| %>
    <li>
      <%= p.user.first_name + ' ' + p.user.last_name + ', aka ' + p.nickname %>
    </li>
  <% end %>
</ul>