<!DOCTYPE html>
<html>
<head>
  <title>Assassinx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-full navbar-dark bg-inverse">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'Assassinxgame', root_path, class: 'navbar-brand' %>
    </div>
    <ul class='nav navbar-nav pull-xs-right'>
      <% if user_signed_in? %>
        <li class='nav-item'><%= link_to 'Dashboard', user_dashboard_path, class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.first_name + ' ' + current_user.last_name%>
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
